// Mixins in here
.destination-btn(@bg:#008080; @textcolor:white; @radius:10px; @width:85%; @height:40px) {
    background-color: @bg;
    color: @textcolor;
    border-radius: @radius;
    width: @width;
    height: @height;
    font-size: 2rem;
    text-align: center;
    padding: 8px 0 0 8px;
    border: 1px solid #E2E2E2;
}

//Animation Mixin

.slide-animation(@fromwidth, @margin, @towidth, @marginend) {
    @keyframes slidein {
        from {
            margin-left: @margin;
            width: @fromwidth; 
          }
        
          to {
            margin-left: @marginend;
            width: @towidth;
          }
    }
}